<section class="acerca_de ">
  <div class="container">
    <div class="row">
      <div class="col-3 fotoPerfil" >
        <img  src="assets/img/foto_perfil_christian_flores.jpg" alt="foto_de_perfil" class="rounded-circle img-fluid w-35">
      </div>
      <div class="col-9 mt-3">
        <h4 class="mt-1 text-white text-center"><i><b>Acerca de mi...<br>
        <p>
          <i>
               <blockquote>Veintidós meses pasados los he vivido repartidos en la sierra y en la amazonía Peruana,
                junto a Lucy y mi hijo Aitor.<br>
                Suelo pasar horas enfocado en alguna lectura; libros, autores de mi interés llegan a consumir mis fines de semana. <br>  Hay dias en las que tomo fotografìas, fotos de mi hijo, del lugar que me rodea... esta última actividad no suele ser siempre fructuosa en resultados estéticos de la imagen. Pero se disfruta, el momento...<br> Mi lengua nativa es el guaraní. Nací en una ciudad al sur de Paraguay. <br> <br>
                En cuanto a la programación llevo formandome de manera intensiva
                desde los primeros meses del año 2022. <br><br>
                Actualmente resido en la zona oeste de la ciudad de Rosario, siendo mi mayor motivación la formación en IT 
                obtenida en el desarrollo de la actividad laboral de este campo. <br>Y mi nombre es Christian Flores Cristaldo, podés contactarme a través de mis redes...</blockquote> 
  
  
          
  
          </i><hr>